body {
  font: 10px sans-serif;
  /*font-family: 'Crete Round', serif;*/
  font-family: 'Arial', Verdana, sans-serif;
}

a{
  color: rgb(98,98,98);
  target: "_blank";
}

/*Home Page*/
.content{
  position: absolute;
  top: 20%;
  left: 35%;
}

.searchBox{
  position: absolute;
}

.WikiPedro{
  font-family: 'Crete Round', serif;
  font-size: 85px;
  text-align: -webkit-center;
}

/* Search Page Sidebar */
#searchpg{
  float: initial;
  /*margin-top: 10px;
  margin-bottom: 50px;*/
/*  margin-left: 5%;
  margin-right: 5%;*/

}

#inputField{
  width: 50%;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.intro{
  width: 95%;
  height: auto;
  max-height: 400px;
  overflow: overlay;
  margin: auto;
}

#introTitle{
  color: rgb(90,90,90);
  font-family: 'Crete Round', serif;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 15px;
}

#introduction{
  text-align: justify;
  font-size: 12px;
  color: rgb(98,98,98);
}

.WikiPedroLogo{
  font-family: 'Crete Round', serif;
  font-size: 35px;
  text-align: -webkit-center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.searchSidebar{
  float: left;
  position: relative;
  /*background-color: rgba(185,1,87,0.5);*/
  height: 100%;
  width: 5%;
  height: 700px;
  padding-top: 50px;
  padding-right: 0px;
  padding-left: 5px;
}

.searchSidebar img{
  height: 20px;
  width: 20px;
}

#searchSidebar1{
  position: relative;
  /* position: absolute; */
  /*background-color: rgba(185,122,87,0.5);*/
  background-color: rgba(128,128,128,0.3);
  /*height: 100%;*/
  width: 35%;
  height: 100%;
}

.lib_btn{
  width: 100%;
  height: 280px;
  margin: auto;
  margin-left: initial;
  font-size: 12px;
}

.lib_btn img{
  height: 20px;
  width: 20px;
}

.icon{
  color: rgb(100,100,100);
  padding-left: 0px;
}

#wikiLink{
  color: rgb(100,100,100);
  position: static;
  margin-left: 0px;
  padding-top: 2.5px;
}

.savebtn{
  position: relative;
  margin-top: 10px;
  margin-right: auto;
  left: 35%;
}

.collapsing {
  margin-top: 25px;
}

.collapse.in {
  display: block;
  margin-top: 25px;
  margin-left: auto;
}

.well{
  height: 135px;
}
/* Display */
#GraphBox{
  width: 50%;
  height: 700px;
  padding-left: 20px
}

#GraphBox p{
  padding-left: 20px;
  font-size: 15px;
  font-style: italic;
  color: #FD6721;
}

#displayGraph{
  position: static;
  /*border-style: ridge;*/
  float: left;
  height: 100%;
  width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
 /* stroke: steelblue;*/
  stroke: #FFCF9E;
  /*stroke-width: 1.5px;*/
  stroke-width: 5px;
}

.image {
  display:inline-block;
}

.source{
  fill: #FD6721;
 /* fill: #DE6F06;*/
  r: 25;
}

.sourceName{
  font-size: 25px;
  color: #FD6721;
}

text {
  font-size: 11px;
/*  color: #5C2700;*/
  /*background-color: #FD6721;*/
  pointer-events: none;
}

.textColor{
  color: #5C2700;
}

text.parent {
  fill: #1f77b4;
  /*fill:#5C2700;*/
}

circle {
  /*r:8;*/
  /*fill: #FF9814;*/
 /* stroke: #FFCF9E;
  stroke-width:5px;*/
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}
