body {
  font: 10px sans-serif;
  font-family: 'Crete Round', serif;
}

/*Home Page*/
.content{
  position: absolute;
  top: 20%;
  left: 35%;
}

.searchBox{
  position: absolute;
}

.WikiPedro{
  font-family: 'Crete Round', serif;
  font-size: 85px;
  text-align: -webkit-center;
}

/* Search Page Sidebar */
#searchpg{
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.WikiPedroLogo{
  font-family: 'Crete Round', serif;
  font-size: 25px;
  float: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
}

#searchSidebar{
  float: left;
  /* position: absolute; */
  background-color: rgba(185,122,87,0.5);
  height: 100%;
  width: 25%;}

.savebtn{
  position: absolute;
}

/* Display */
#displayGraph{
  border-style: ridge;
  float: right;
  height: 100%;
  width: 75%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.image {
  display:inline-block;
}

.source{
  fill: #abc;
  r: 25;
}

.sourceName{
  font-size: 25px;
  color: #FD6721;
}

text {
  font-size: 11px;
  background-color: #FD6721;
  pointer-events: none;
}

text.parent {
  fill: #1f77b4;
}

circle {
  r:8;
  fill: #cba;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}
